body{
    padding: 0;
    margin: 0;
}

.search-container{
    background-color: rgb(240, 237, 237);
    width: 900px;
    height: 80px;
    margin-left: 200px;
    margin-right: 10px;
    margin-top: 10px;
    
    text-align: center;
}
.card-1{
    background-color: rgb(47, 221, 221);
    width: 350px;
    height: 50px;
    margin-left: 200px; 
    text-align: center;
    padding: 12px;
    margin-top: 3px;
    float: left;
    
    
}
.card-2{
    background-color:rgb(78, 167, 167);
    width: 100px;
    float: left;
    margin-top: 3px;
    padding: 1px;
    margin-left: 3px;
    text-align: center;
    
}
.card-3{
    background-color: rgb(30, 165, 165);
    width: 418px;
    float: left;
    margin-top: 3px;
    font-size: 14px;
    margin-left: 3px;
    text-align: center;
}
/* .card-2{
    background-color:rgb(78, 167, 167);
    width: 100px;
    height: 70px;
    
    text-align: center;
    padding: 2px;
    margin-top: 3px;
    font-size: 14px;
    margin-left: 3px;
    
}
.card-3{
    background-color: rgb(30, 165, 165);
    width: 350px;
    
    margin-left: 3px;
    text-align: center;
    margin-top: 3px;
    font-size: 14px;

} */


